
yaml/WeatherApp/visual weather api token.txt

.vs/Project-SignalWave/CopilotIndices/17.14.786.1071/CodeChunks.db

.vs/Project-SignalWave/CopilotIndices/17.14.786.1071/SemanticSymbols.db

.vs/Project-SignalWave/FileContentIndex/2855e492-dc91-4f71-b8c8-2f9cc2586e67.vsidx

.vs/Project-SignalWave/v17/.wsuo

.vs/Project-SignalWave/v17/DocumentLayout.backup.json

.vs/Project-SignalWave/v17/DocumentLayout.json

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
